<% layout('layouts/boilerPlate') -%>

    <div class="card text-center p-10">
        <div class="card-body">
          <img src="<%= currground.image %>" class="w-50" alt="not found">
          <h5 class="card-title p-2"><%= currground.title %></h5>
          <p class="card-text">Description : <%= currground.description %> </p>
          <p class="card-text"> Price : <%= currground.price %></p>
          <p class="card-text"> Location : <%= currground.location %></p>
          <a href="/campground/<%= currground.id%>/edit" class="btn btn-primary m-3">EDIT CAMPGROUND</a>
          <form action="/campground/<%= currground.id%>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-secondary">DELETE</button>
        </form>
        </div>
      </div>