<% layout('layouts/boilerPlate') -%>
    <form action="/campground/<%=currground.id%>?_method=PUT" method="post">
        <div class="mb-3 offset-1">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1" value="<%= currground.title%>">
              </div>
              <div class="mb-3 offset-1">
                <label for="exampleInputPassword1" class="form-label">Price</label>
                <div class="input-group">
                  <span class="input-group-text">Rs.</span>
                  <input type="number" class="form-control" id="exampleInputPassword1" name="price" placeholder="0.00" value="<%=currground.price%>">
                </div>
                
              </div>
              <div class="mb-3 offset-1">
                <label class="form-label" for="exampleCheck1">Image Url</label>
                <input type="text" class="form-control" id="exampleCheck1" name="image" value="<%= currground.image%>">
              </div>
              <div class="mb-3 offset-1">
                  <label for="exampleInput3" class="form-label">Location</label>
                  <input type="text" class="form-control" id="exampleInput3" name="location" value="<%=currground.location%>">
                </div>
                <div class="mb-3 offset-1">
                  <label for="exampleInput4" class="form-label">Description</label>
                  <textarea class="form-control" id="exampleInput4" name="description" rows="3"><%= currground.description%></textarea>
                </div>
              <div class="mb-3 offset-1">
                  <button type="submit" class="btn btn-info">Update</button>
                  <button class="btn btn-secondary"><a href="/campground" class="link-light link-underline link-underline-opacity-0">All CAMPGROUND</a></button>
                  
              </div>
    </form>
